<h3>以下の内容で登録する。</h3>

<%= form_for(@post) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>

  <p><%= @post.title %></p>
  <P><%= @post.content %></p>
  <%= f.submit "登録する"%>
<% end %>

<%= form_for(@post, url: new_post_path, method: 'get') do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
<%= f.submit "戻る", name: 'back' %>
<% end %>
