<p><%= notice %></p>

<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.content %>
  <%= link_to "投稿を編集する", edit_post_path(post.id), data: {confirm: '本当に編集していいですか？'} %>
  <%= link_to "投稿を削除する", post_path(post.id), method: :delete, data: {confirm: '本当に削除していいですか？'} %>
<% end %>

<%= link_to "投稿を作成する", new_post_path %>
